# The ID of your Android device. Run `adb devices` to find it.
ADB_DEVICE=

# The APK name for Firefox on your Android device. Examples:
#   Firefox:         org.mozilla.firefox
#   Firefox Beta:    org.mozilla.firefox_beta
#   Firefox Nightly: org.mozilla.fenix
FIREFOX_APK=
